<header class="header">
  <div class="w">
    <div class="nav-left">
      <ul class="list">
        <li class="item">
          <a href="javascript:;">收藏</a>
        </li>
        <li class="item">
          <a href="javascript:;">关注</a>
        </li>
        <li class="item">
          <a href="javascript:;">下载app</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <ul class="list">
        <li class="item login-out">
          <a href="javascript:;" class="js-login">登录</a>
        </li>
        <li class="item login-out">
          <a href="javascript:;" class="js-register">注册</a>
        </li>
        <li class="item login-in">
          <a href="javascript:;">
            <span>欢迎,</span>
            <span class="username"></span>
          </a>
        </li>
        <li class="item login-in">
          <a href="javascript:;" class="js-logout">退出登录</a>
        </li>
        <li class="item">
          <a href="javascript:;">我的购物车(<span class="cartcount">0</span>)</a>
        </li>
        <li class="item">
          <a href="javascript:;">帮助中心</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Large modal -->
</div>
</header>