.footer {
  .nav-list {
    width: 100%;
    text-align: center;
    line-height: 30px;
    .list-item {
      // float: left;
      margin: 0 10px;
    }
  }
  .copyright {
    text-align: center;
  }
}