<div class="search">
  <div class="w">
    <h1 class="logo">
      <i class="iconfont">&#xe680;</i>
      <a href="./index.html" class="logo-text">
        <img src="../../common/images/logo.png" alt="">
      </a>
    </h1>
    <div class="search-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入关键词">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">搜索</button>
        </span>
      </div>
    </div>
  </div>
</div>